<div class="container" id="container">
	<div class="container" id="container" >
		<div class="container-sm">
			<div class="form-container sign-up-container">
			<form action="#">
				<h2>Forgot Password</h2>
				<div class="row" *ngIf="this.toggle">
					<p style="color: rgb(74, 18, 242);">Please use temporary password 'AXESSTECHNOLOGY' to Login.</p>
				</div>
				<input type="text"  class="form-control mt-2" placeholder="Name" />
				<input type="email" class="form-control mt-2" placeholder="Email" />
				<input type="password" class="form-control mt-2" placeholder="Password" />
				<div class="buttons mt-1">
					<button  type="button" style="font-size: x-small;float: left;"  (click)="signInClick()"class="ghost1"  id="signIn">Go to Login</button> &nbsp;&nbsp;&nbsp;
					<button type="button" style="float: left;	font-size: small;margin-left: 14px;padding: 9px 11px 14px 9px;" (click)="showpass()" >Reset Login</button>
				</div>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form [formGroup]="loginForm">
				<h1>Sign in</h1>
	
				<input type="email" class="form-control" formControlName="email" placeholder="Email" />
				<input type="password" class="form-control mt-2" formControlName="password" placeholder="Password" />
				<a class="ghost" id="signUp" (click)="signUpclick()">Forgot your password?</a>
				<button  type="button" (click)="login()">Sign In</button>
			</form>
		</div>
		<div class="overlay-container"> 
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>AXESS TECHNOLOGY</h1>
					<p>World class Tutorials on Selenium, Rest Assured, Protractor, SoapUI, Appium, Cypress, Jmeter,
						Cucumber, Jira and many more!</p>
					<button class="ghost"  type="button" >Visit Us</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>AXESS TECHNOLOGY</h1>
					<p>Enter your personal details and start journey with us</p>
					<button  type="button" class="ghost" id="signIn">Visit Us</button>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>



<!-- <div class="container-fuilds" *ngIf="show">
	hi
</div> -->